.day {
  font-family: "Secular One", sans-serif;
  text-align: center;
  opacity: 70%;
  color: rgb(14, 146, 65);
}
.emoji {
  display: block;
  margin: 0 auto;
  width: 2.2em;
  height: 2.2em;
  background-color: rgba(18, 53, 158, 0.237);
  border-radius: 3px;
}
.bigemoji {
  display: block;
  margin: 5px 0 auto;
  width: 7em;
  height: 7em;
  background-color: rgba(18, 53, 158, 0.237);
  border-radius: 10px;
}
.blue {
  color: rgb(13, 13, 157);
}
.red {
  color: rgb(168, 5, 32);
}
.EnterCity {
  width: 100%;
  text-align: center;
}
.weather-wrapper {
  max-width: 700px;
  margin: 20px auto;
}
.weather-maxsize {
  padding: 5px;
  border: 1px solid #6f7070;
  border-radius: 4px;
  background-color: antiquewhite;
}

.temperature-units {
  position: relative;
  font-size: 15px;
  top: -15px;
}
.temperature-units-forecast {
  position: relative;
  font-size: 10px;
  top: -10px;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
