.day {
  font-family: "Secular One", sans-serif;
  text-align: center;
  opacity: 60%;
}
.emoji {
  display: block;
  margin: 0 auto;
  width: 2em;
  height: 2em;
}
.bigemoji {
  display: block;
  margin: 5px 0 auto;
  width: 5em;
  height: 5em;
  background-color: rgba(18, 53, 158, 0.237);
  border-radius: 10px;
}
.blue {
  color: rgb(6, 6, 221);
}
.EnterCity {
  width: 100%;
  text-align: center;
}
.weather-wrapper {
  max-width: 700px;
  margin: 20px auto;
}
.weather-maxsize {
  padding: 10px;
  border: 1px solid #94edb5;
  border-radius: 4px;
}
.temperature-units {
  position: relative;
  font-size: 15px;
  top: -15px;
}
